{% ckan_extends %}

{% block footer_links %}
  <li>Powered by <a href="http://ckan.org">CKAN</a></li>
  <li>2015 &copy; <a href="http://fiware.org">FIWARE</a>. The use of FIWARE Lab services is subject to the acceptance of the <a href="https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FIWARE_LAB_Terms_and_Co    nditions">Terms and Conditions</a>, <a href="http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">Personal Data Protection Policy </a>and <a href="http://forge.fi-ware.org/plugins/medi    awiki/wiki/fiware/index.php/Cookies_Policy_FIWARE_Lab">Cookies Policy</a></li>
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}
